{{#each movies}}
 <div id="{{@key}}" class="searchResultsDiv">
  <img src="{{Poster}}">
  <h1>{{Title}}</h1>
  <h1>Rating: {{imdbRating}}</h1>
  <h3>Released: {{Year}}</h3>
  <h4>Actors: {{Actors}}</h4>
  <button  class="btn btn-primary" id="addMovie">Add Movie</button>
 </div>
{{/each}}