{{#each movies}}
{{#unless Seen}}
  <div class="row movieRow">
    <div id="{{@key}}" class="col-xs-12 movieDiv">
      <img src="{{Poster}}" class="img-responsive">
      <h1>{{Title}}</h1>
      <h1>Rating: {{imdbRating}}</h1>
      <h3>Released: {{Year}}</h3>
      <h4>Actors: {{Actors}}</h4>
      <button class="btn btn-danger btn-lg" id="delete">Delete</button>
      <button class="btn btn-primary btn-lg" id="seen">Have Seen</button>
    </div>
  </div>
{{/unless}}
{{/each}}