
{{#each this}}
	<div class='col-xs-6 col-sm-3 movie-info' key="{{@key}}" watched="{{seen-it}}" title="{{title}}">

	  <div class="img-wrap">
	    <span class='close glyphicon glyphicon-trash' id="deleteButton" aria-hidden="true"></span>
	    <img src='{{image-url}}'>
	  </div>

	  <div class="rating" rating="{{rating}}" watched="{{seen-it}}">
	      <span value="5">☆</span><span value="4">☆</span><span value="3">☆</span><span value="2">☆</span><span value="1">☆</span>
	  </div>

	  <button type="button" class="btn btn-success btn-xs watched-button" watched="{{seen-it}}">Watched
	  </button>
	</div>

{{/each}}
