{{#each movies}}
 <div id="{{@key}}">
  <h1>{{Title}}</h1>
  <h1>{{imdbRating}}</h1>
  <h3>{{Year}}</h3>
  <h4>{{Actors}}</h4>
  <button id="delete">Delete</button>
  <button id="seen">Have Seen</button>
 </div>
{{/each}}