{{#each this}}

	<div class='col-xs-6 col-sm-3 movie-info' key="{{title}}" watched="{{seen-it}}" rating="{{rating}}" title="{{title}}">

	  <div class="img-wrap">
	    <span class='close glyphicon glyphicon-trash' id="deleteButton" aria-hidden="true"></span>
	    <img src='{{image-url}}'>
	  </div><br>

	  <div class="rating" rating="{{rating}}" watched="{{seen-it}}">
	      <span value="5">☆</span><span value="4">☆</span><span value="3">☆</span><span value="2">☆</span><span value="1">☆</span>
	  </div>

	  <button type="button" class="btn btn-success btn-xs watched-button" id="watchedButton" watched="{{seen-it}}">Watched</button>

	</div>

{{/each}}
