{{#each movies}}
{{#if Seen}}
  <div class="row">
   <div id="{{@key}}" class="col-lg-12 movieDiv">
    <h1>{{Title}}</h1>
    <h1>Rating: {{imdbRating}}</h1>
    <h3>Released: {{Year}}</h3>
    <h4>Actors: {{Actors}}</h4>
    <button class="btn btn-primary" id="delete">Delete</button>
    <button class="btn btn-primary" id="change">Change Rating</button>
   </div>
 </div>
{{/if}}
{{/each}}